extends ./layout.jade

block stylesheets
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/goldberg-versions.css')
  link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')

block content


  div#wrapper
    div.sidebar
      a(href="#").nav-toggle-btn
      ul.sidebar-nav
        p Reference versions
        li.sidebar-brand: a(href="#") Glenn Gould
        li.sidebar-brand: a(href="#") Murray Perahia
      ul.sidebar-nav
        p New versions
        li.sidebar-brand: a(href="#") Glenn Gould
        li.sidebar-brand: a(href="#") Murray Perahia

    div.page-content-wrapper
      div.container
        div.col-xs-12
          div#title
          h1: strong The Goldberg Variations, BWV 988
          h2 Composer: Johann Sebastian Bach, 1741
          p The Goldberg Variations is a work written for harpsichord consisting of an aria and a set of 30 variations.

      div.container
        //- REFERENCE VERSIONS
        div.box.col-xs-6.col-sm-12
          div.title-box
            h4 Reference Versions
          div.content-box
            //- Glenn Gould 1981
            div.col-xs-12.col-sm-6.col-lg-4
              div.info-box-content
                div.perfomer-img-div(style='background-image:url("/images/glenn-gould-1981.jpg")')
                  div.player-iframe
                    iframe(src="https://embed.spotify.com/?uri=spotify%3Aalbum%3A1aCpHSQE5ghxibsQ5gkBe0" width="100%" height="380" frameborder="0" allowtransparency="true")
                  i.fa.fa-play-circle(aria-hidden="true")#play-black
                div.comment-div
                  p: strong Glenn Gould, 1981

            //- Murray Perahia 2000
            div.col-xs-12.col-sm-6.col-lg-4
                div.info-box-content
                  div.perfomer-img-div(style='background-image:url("/images/murray-perahia.jpg")')
                    div.player-iframe
                      iframe(src="https://embed.spotify.com/?uri=spotify%3Aalbum%3A2ecywJZyq9FeZWhKUT0kIq" width="100%" height="380" frameborder="0" allowtransparency="true")
                    i.fa.fa-play-circle(aria-hidden="true")
                  div.comment-div
                    p: strong Murray Perahia, 2000

            //- Glenn Gould 1955
            div.col-xs-12.col-sm-6.col-lg-4
              div.info-box-content
                div.perfomer-img-div(style='background-image:url("/images/glenn-gould-1955.jpg")')
                  div.player-iframe
                    iframe(src="https://embed.spotify.com/?uri=spotify%3Aalbum%3A0ogm04LcccovebvmP9Mo6W" width="100%" height="380" frameborder="0" allowtransparency="true")
                  i.fa.fa-play-circle(aria-hidden="true")
                div.comment-div
                  p: strong Glenn Gould, 1955

            //- Glenn Gould 1955
            div.col-xs-12.col-sm-6.col-lg-4
              div.info-box-content
                div.perfomer-img-div(style='background-image:url("/images/glenn-gould-1955.jpg")')
                  div.player-iframe
                    iframe(src="https://embed.spotify.com/?uri=spotify%3Aalbum%3A0ogm04LcccovebvmP9Mo6W" width="100%" height="380" frameborder="0" allowtransparency="true")
                  i.fa.fa-play-circle(aria-hidden="true")
                div.comment-div
                  p: strong Glenn Gould, 1955

        //- NEW VERSIONS
        div.box.col-xs-6.col-sm-12
          div.title-box
            h4 New Versions
          div.content-box
            //- Alexandre Tharaud 200
            div.col-xs-12.col-sm-6.col-lg-4
              div.info-box-content
                div.perfomer-img-div(style='background-image:url("/images/alexandre-tharaud.jpg")')
                  div.player-iframe
                    iframe(src="https://embed.spotify.com/?uri=spotify%3Aalbum%3A6pyy2WoFZvmohjwHOzLzkt" width="100%" height="380" frameborder="0" allowtransparency="true")
                  i.fa.fa-play-circle(aria-hidden="true")
                div.comment-div
                  p: strong Alexandre Tharaud, 2015

        //- HARPHSICHORD VERSIONS
        div.box.col-xs-6.col-sm-12
          div.title-box
            h4 Harpsichord Versions
          div.content-box
            //- Andreas Staier
            div.col-xs-12.col-sm-6.col-lg-4
              div.info-box-content
                div.perfomer-img-div(style='background-image:url("/images/andreas-staier.jpg")')
                  div.player-iframe
                    iframe(src="https://embed.spotify.com/?uri=spotify%3Aalbum%3A3I7yCh1xt7hDlkT8FnXmNI" width="100%" height="380" frameborder="0" allowtransparency="true")
                  i.fa.fa-play-circle(aria-hidden="true")
                div.comment-div
                  p: strong Andreas Staier, 2015

        //- ORGAN VERSIONS
        div.box.col-xs-6.col-sm-12
          div.title-box
            h4 Harpsichord Versions
          div.content-box
            //- Andreas Staier
            div.col-xs-12.col-sm-6.col-lg-4
              div.info-box-content
                div.perfomer-img-div(style='background-image:url("/images/andreas-staier.jpg")')
                  div.player-iframe
                    iframe(src="https://embed.spotify.com/?uri=spotify%3Aalbum%3A3I7yCh1xt7hDlkT8FnXmNI" width="100%" height="380" frameborder="0" allowtransparency="true")
                  i.fa.fa-play-circle(aria-hidden="true")
                div.comment-div
                  p: strong Andreas Staier, 2015

        //- OTHER VERSIONS
        div.box.col-xs-6.col-sm-12
          div.title-box
            h4 Harpsichord Versions
          div.content-box
            //- Andreas Staier
            div.col-xs-12.col-sm-6.col-lg-4
              div.info-box-content
                div.perfomer-img-div(style='background-image:url("/images/andreas-staier.jpg")')
                  div.player-iframe
                    iframe(src="https://embed.spotify.com/?uri=spotify%3Aalbum%3A3I7yCh1xt7hDlkT8FnXmNI" width="100%" height="380" frameborder="0" allowtransparency="true")
                  i.fa.fa-play-circle(aria-hidden="true")
                div.comment-div
                  p: strong Andreas Staier, 2015

block scripts
  script(type="text/javascript" src='/javascripts/goldberg-versions.js')

