extends layout

block content
  div.container
    h1 Welcome to Musicae
    a(href="/variations-goldberg-bmw-998-version") First example

block scripts
  script(type="text/javascript" src='/javascripts/testing.js')

