 /* LAYOUT */

 body {
    overflow-x: hidden;
 }

/* SIDEBAR */

.sidebar {
    position: fixed;
    z-index: 1000;
    top: 51px;
    bottom: 0;
    width: 200px;
    background-color: yellow;
    transform: translate3d(-200px, 0, 0);
    transition: transform 0.4s ease;
}

.sidebarcontent-div {
  margin-top: 100px;
}

.active-nav .sidebar {
  transform: translate3d(0, 0, 0);
}

.sidebar-nav {
  list-style: none;
  padding: 5px 20px;
  }

.versioncategory {
  padding-bottom: 10px;
}

.sidebar-brand, a {
  text-decoration: none;
  display: block;
  text-align: left;
  color: black;
  padding-top: 1px;
  padding-left: 5px;
}

.sidebar-brand, a:hover {
  text-decoration: none;
  color: lightgrey;
}

.nav-toggle-btn {
  display: block;
  position: absolute;
  top: 10px;
  left: 200px;
  width: 50px;
  height: 50px;
  background:  #980008;
}

#menu-icon-layout {
  color: black;
  line-height: 50px;
  font-size: 20px;
  padding-left: 15px;
}

.active-nav .page-content-wrapper {
  transform: translate3d(200px, 0, 0);
}

/* PAGE CONTENT */

/*.page-content-wrapper-margin-left {
  margin-left: 100px;
}
*/
.page-content-wrapper {
  margin: 50px;
}

.box {
  border-radius: 4px;
  margin: 50px 0px;
  background-color: #ECEAE9;
}

.info-box-content {
  margin: 20px 0px 20px 0px;
}

.perfomer-img-div {
  height: 300px;
  margin: auto;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  text-align: center;
  line-height: 300px;
}

.perfomer-img-div > i {
  font-size: 60px;
  margin: auto;
  color: rgba(255,255,255,0.6);
  vertical-align: middle;
}

#play-black {
  color: black;
}

.player-iframe {
  position: absolute;
  top: 300px;
  width: 100%;
}

.comment-div {
  padding-top: 10px;
}

h1 {
  color: black;
}

h4 {
  color: #980008;
}

