#container-page {
}

#title {
  padding-left: 15px;
  margin-top: 70px;
}

#container-versions {
  margin-top: 50px;
  background-color: #ECEAE9;
  border-radius: 2px;
}

.info-box-content {
  margin: 20px 0px 20px 0px;
}

.perfomer-img-div {
  height: 300px;
  margin: auto;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  text-align: center;
  line-height: 300px;
}

.perfomer-img-div > i {
  font-size: 60px;
  margin: auto;
  color: rgba(255,255,255,0.6);
  vertical-align: middle;
}

#play-black {
  color: black;
}

.player-iframe {
  position: absolute;
  top: 300px;
  width: 100%;
}

.comment-div {
  padding-top: 10px;
}

h1 {
  color: black;
}
