#background-div {
  min-height: 100vh;
  margin-top: -50px;
  padding-top: 50px;
}

#main-image-div, #spotify-div {
  margin: 0;
  padding: 0;
}

#main-image-div {
  height: 380px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#image-title {
  display: inline-block;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#spotify-div {
  background-color: rgb(20, 20, 20);
}

#spotify-div iframe {
  max-width: 100%;
  min-height: 100%;
}

.info-box-container {
  padding: 10px 15px 15px 15px;
}

.info-box-content {
  background-color: rgba(255,255,255,0.8);
  padding: 20px 25px 30px 25px;
  height: 310px;
}
