h1 > small > a {
  color: #777;
  text-decoration: none;
}

h1 > small > a:hover {
  text-decoration: none;
}

#main-image-div {
  position: fixed;
  top: 50px;
  left: 0px;
  height: calc(100vh - 50px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#main-image-div {
  z-index: 0;
}

#image-title {
  display: inline-block;
  position: absolute;
  bottom: 10px;
  left: 20px;
}

/* PLAYER */
#player-div {
  position: absolute;
  top: calc(50vh - 190px);
  right: 0;
  background-color: rgba(255, 255, 255, 0.7);
  width: 360px;
  height: 379px;
  margin-right: 0;
}

#hover-part {
  position: absolute;
  top: 0;
  left: 0;
  height: 380px;
  width: 60px;
  line-height: 380px;
  vertical-align: middle;
  background-color: rgba(255,68,66,0.4);
}

#player-div, #hover-part {
  border-radius: 40px 0 0 40px;
}

#player-part {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
}

#player-part iframe {
  max-width: 100%;
  min-height: 100%;
}

#player-choice-div {
  width: 100%;
  text-align: center;
  padding: 30px;
}

.player-choice img {
  width: 130px;
  height: auto;
}

#listen-text {
  font-size: 18px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#main-container {
  width: 100%;
  margin-top: 100vh;
  left: 0;
  z-index: 11;
}

.main-block {
  border-top: 1px solid #980008;
  background-color: rgba(255,68,66,0.4);
}

/* INFO AND LINKS PART */
.info-box-container {
  padding: 30px 15px 30px 15px;
}

.info-box-content {
  background-color: rgba(255,255,255,0.7);
  padding: 20px 25px 30px 25px;
  min-height: 310px;
  text-align: center;
}

.more-text {
  display: none;
  text-align: left;
}

#external-links-container {
  padding: 30px 30px 30px 30px;
  min-height: 370px;
  border-left: 1px solid #980008;
  background-color: rgba(255,255,255,0.7);
}

#external-links-content {
  padding: 10px;
}

#concert-list li {
  margin-bottom: 15px;
}

#concert-list li a {
  text-decoration: none;
}

/* INTERPRETATIONS SLIDER PART */
.slider-container-div {
  text-align: center;
  padding: 20px;
  background-color: rgba(255,255,255, 0.5);
}

.slider-div {
  margin: 20px;
  width: 90%;
  margin: auto;
}

.slider-content-div {
  max-width: 350px;
  height: 200px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slick-prev:before, .slick-next:before {
  color: #980008;
  opacity: 1;
  font-size: 40px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.slick-prev, .slick-next {
  /* margin-top: -16px; */
  height: 40px;
}

.slick-prev:before {
  content: "<";
}

.slick-next:before {
  content: ">";
}

.slick-dots li button::before, .slick-dots li.slick-active button:before {
  color: #980008;
}

#composer-div-container {
  padding: 30px;
}

#composer-div-content {
  padding: 20px;
  background-color: rgba(255,255,255,0.7);
}
