#main-image-div, #spotify-div {
  margin: 0;
  padding: 0;
}

#main-image-div {
  height: 380px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  border-bottom: 1px solid #980008;
}

#image-title {
  display: inline-block;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#player-div {
  position: absolute;
  top: 51px;
  right: 0px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 340px;
  height: 379px;
  margin-right: 0;
}

#hover-part {
  position: absolute;
  top: 0;
  left: 0;
  height: 380px;
  width: 40px;
  line-height: 380px;
  vertical-align: middle;
}

#player-part {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
}

#player-part iframe {
  max-width: 100%;
  min-height: 100%;
}

#player-choice-div {
  width: 100%;
  text-align: center;
  padding: 30px;
}

.player-choice img {
  width: 130px;
  height: auto;
}

#listen-text {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.info-box-container {
  padding: 30px 15px 30px 15px;
}

.info-box-content {
  background-color: rgba(0,0,0,0.1);
  padding: 20px 25px 30px 25px;
  min-height: 270px;
  text-align: center;
}

.more-text {
  display: none;
  text-align: left;
}

#external-links-container {
  padding: 30px;
}

.slider-container-div {
  text-align: center;
  padding: 50px;
  background-color: rgba(0,0,0,0.1);
}

.slider-div div img {
  margin: auto;
}
